@if (pets == null)
{
    <MudText Typo="Typo.h1">Loading pets</MudText>
    <MudProgressCircular Color="Color.Success" Indeterminate="true" />
}
else if (pets.Count() < 1)
{
    <MudText Typo="Typo.h2">No pets found</MudText>
}
else
{
    <div class="bg-white shadow overflow-hidden sm:rounded-lg">
        <div class="bg-white">
            <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24">
                <div class="space-y-12">
                    <div class="space-y-5 sm:space-y-4 md:max-w-xl lg:max-w-3xl xl:max-w-none">
                        <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">Your Pets</h2>
                    </div>
                    <ul role="list"
                        class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 sm:space-y-0 lg:grid-cols-3 lg:gap-x-8">
                        @foreach (var pet in pets)
                        {
                            <li>
                                <div class="space-y-4">
                                    <div class="aspect-w-3 aspect-h-2">
                                        <a href="@("/pet/" + pet.id)">
                                            <img class="object-cover shadow-lg rounded-lg"
                                                 src="@(pet.path)" width="80"
                                                 alt="">
                                        </a>
                                    </div>

                                    <div class="space-y-2">
                                        <div class="text-lg leading-6 font-medium space-y-1">
                                            <h3>@(pet.name)</h3>
                                            <p class="text-indigo-600">@(pet.id)</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public IEnumerable<DisplayPet>? pets { get; set; }

    private bool isVisible;

    public void ToggleOverlay(bool value)
    {
        isVisible = value;
    }
}
